@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    font-family: "PT Sans",sans-serif;
}

header{
    background-color: #0084fd;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1em;
}

.hamburger{
    display: none;
}


.menu ul{
    display: flex;
    list-style: none;
    gap: 2em;
    font-size: 1.2rem;
}

.menu ul li a{
    text-decoration: none;
    color: white;
}

.menu ul li:last-child a{
    background-color: white;
    color: black;
    padding: 5px 15px;
    border-radius: 15px;
}

.container{
    width: 70%;
    margin: 0 auto;
}
.blue_cards_box {
    padding-top: 2rem;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
}

.blue_cards:nth-child(1){
    padding: 2em 0em 0;
    text-align: left;
    flex-basis: calc((100% / 3) * 2 - 10px);
    display: flex;
    justify-content: space-between;
}

.blue_cards:nth-child(1) button{
    margin-block: 2em;
    background-color: #0084fd;
    width: 50%;
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 1.2rem;
}

.fa-apple{
    margin-right: 5px;
}

.blue_cards:nth-child(1) figure{
    flex-basis: 40%;
    align-self: flex-end;
    flex-shrink: 0;
}

.blue_cards:nth-child(1) figure img {
    display: block;
    margin: 0 auto;
    width: 90%;
}


.blue_cards{
    padding:1rem;
    text-align: center;
    background-color: #b5ddff;
    flex-basis: calc((100% / 3) - 20px);
    font-weight: bold;
    border-radius:20px;
    line-height: 200%;
    color: #5a6e7f;
}

.blue_cards h3{
    font-size: 1.5rem;
    font-weight: bold;
    color: #0084fd;
    padding-block: 1em;
}

.blue_cards p {
    padding-block: 1em;
    font-size: 1.2rem;
}

.phone_text{
    padding-left: 1rem;
}


.fa-solid{
    font-size: 5rem;
}

.purple_box{
    background-color: #9593e6;
    margin-top: 5rem;
}

.planning{
    display: flex;
    padding-top: 8rem;
    padding-bottom: 4rem;
    gap: 30px;
    justify-content: center;
    line-height: 150%;
}
.col-left{
    flex-basis:35% ;
    color: white;

}
.col-left h3{
    font-size: 2rem;
    margin-bottom: 2rem;
}
.col-left figure{
    margin-bottom: 3rem;
    position: relative;
    top: -50px;
}
.col-right{
    height: 70%;
    text-align: center;
    padding:1rem 2rem;
    color: black;
    background-color: white;
    border-radius: 40px;
    flex-basis: 35%;
    align-self: flex-end;
}
.col-left figure img,
.col-right figure img{
    width: 100%;
    display: block;
    margin: 0 auto;
}

.fa-arrow-down{
    margin-top: 2rem;
    font-size: 1.5rem;
    background-color: #9593e6;
    padding: 10px 15px;
    border-radius: 50%;
}

.profiles_list{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.profiles{
    text-align: center;
    padding-block:2em ;
}

.profiles h4{
    margin-top: 3rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 400;
}
.profiles h2{
    color: #9593e6;
    font-size: 3rem;
    margin-block: 3rem;
}
.profiles_box_titles p{
    line-height: 150%;
    font-weight: 500;
    margin-bottom: 2em;
}

.profile_item{
    background-color: #9593e6;
    display: flex;
    align-items: center;
    color: white;
    border-radius: 40px;
}

.profile_item img{
    padding: 1em;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.profile_item_text{
    font-size: 1.2rem;
    text-align: left;
    padding-inline: 1em;
}

.profile_item_text p{
    margin-bottom: 1em;
}
.profile_item_text p::before{
    content: "\f10d";
    font-family: "FontAwesome";
}
.profile_item_text p::after{
    content: "\f10e";
    font-family: "FontAwesome";
}
.benefits{
    color:#9593e6
}
#benefits_title{
    text-align: center;
    color: white;
    font-size: 4rem;
    padding-block: 3rem;
    line-height: 100%;
}
.benefits_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}
.benefits_item{
    flex-basis: calc(100% / 3 - 40px);
    background-color: white;
    padding: 3em;
    border-radius: 30px;
}
.benefits_item h2{
    font-size: 4rem;
}
.benefits_item h3{
    font-size: 1.5rem;
    margin-block: 1em;
}
.benefits_item p{
    color:grey;
    line-height: 150%;    
}
.purple_btn{
    background-color: #9593e6;
    color: white;
    border: none;
    padding: 15px 50px;
    border-radius: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 2em;
    font-size: 1rem;
}
@media screen and (min-width:481px) and (max-width:1060px){

    .menu{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .fa-bars{
        font-size: 3rem;
    }
    .container{
        width: 95%;
        font-size: 1rem;
        line-height: 100%;
    }
    .blue_cards:nth-child(1){
        flex-direction: column;
        gap: 0;
        padding: 0;
        padding-inline: 1em;
    }

    .blue_cards:nth-child(1) figure{
        align-self: flex-start;
        width: 70%;
        flex-basis: 0;
    }
    .blue_cards:nth-child(1) figure img{
        display: block;
        margin: 0;
    }
    .blue_cards{
        padding: 1em;
    }

    .blue_cards:nth-child(1) button{
        margin-block:1em ;
        font-size: 1rem;
        padding: 5px 10px;
    }
    .blue_cards:nth-child(1) p{
        padding:0 ;
    }
    .blue_cards{
        line-height: 150%;
    }
   
    .blue_cards h3{
        padding-top:1em ;
         padding-bottom: 0;
    }

    .planning{
        flex-direction: column;
    }
    .phone_text{
        padding: 0rem;
    }

    .benefits_item{
        flex-basis: calc(50% - 40px);
    }
}

@media screen and (max-width:480px) {
    .menu{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .fa-bars{
        font-size: 2rem;
    }
    .container{
        width: 90%;
    }
    .blue_cards:nth-child(1){
        flex-basis: 100%;
        flex-direction: column;
    }
    .blue_cards:nth-child(1) button{
        display: block;
        margin: 0 auto;
    }
    
    .blue_cards{
        flex-basis: 100%;
    }    
    .phone_text h3{
        padding: 0;
    }
    .blue_cards:nth-child(1) figure{
        margin-top: 1em;
        flex-basis: 0;
    }

    .planning{
        flex-direction: column;
    }
    .phone_text{
        padding: 1rem;
    }

  .profile_item{
    flex-direction: column;
  }

  .profile_item_text{
    text-align: center;
    line-height: 150%;
    padding-bottom: 1em;
  }
  .benefits_item{
    flex-basis: 100%;
  }
}



