@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    font-family: "PT Sans";
}

header{
    background-color: #0084fd;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}

.container{
    width: 100%;
    margin: 0 auto;
}

.hamburger i{
    font-size: 2rem;
}

main{
    padding: 3rem;
}

.blue_cards_box h3{
    color: #0084fd;
    font-size: 1.5rem;
}

.blue_cards_box figure{
    width: 100%;
}

.blue_cards_box figure img{
    display: block;
    width: 100%;
}
.blue_cards_box{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.blue_cards{
    text-align: center;
    background-color: #b5ddff;
    padding: 2.5em;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 5%;
    font-weight: bold;
    color:#5a6e7f;
    line-height: 160%;
}

.blue_cards.phone{
    text-align: left;
    padding-inline:2em;
    padding-bottom: 0;
}

.blue_cards button{
    padding-block: 10px;
    width: 70%;
    margin: 0 auto;
    background-color:#0084fd;
    border: none;
    border-radius: 15px;
    color: white;
    font-weight: bold;
}

.fa-solid{
    font-size: 5rem;
}

.fa-apple{
    margin-right: 5px;
}


@media screen and (min-width: 1024px){
    .blue_cards_box{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .blue_cards{
        padding: 1em;
    }

    .blue_cards:not(.phone){
        flex-basis: calc(100% / 3 - 20px);
    }

    .blue_cards.phone{
        flex-basis: calc((100% / 3) * 2 - 10px);
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .phone_text{
        align-self: flex-start;
        flex-basis: 60%;
        padding-inline: 1em;
    }

    .phone_text p{
        margin-block: 2em;
    }

    .blue_cards.phone figure{
        flex-basis: 40%;
        align-self: flex-end;
    }
}